/* #region common */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug *{
    border: 1px dashed;
}

main{
    background-color: #F6F5F3;
}

/* #endregion common */

/* #region utilities */

.container{
    width: 85%;
    margin: auto;
}

[class^=col-]{
    padding: 0.5 rem;
}

.col-12{
    width: 100%;
}

.col-10{
    width: calc(100%/12*10);
}

.col-8{
    width: calc(100%/12*8);
}

.col-6{
    width: 50%;
}

.col-4{
    width: calc(100%/12*4);
}

.col-2{
    width: calc(100%/12*2);
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.font-style{
    font-family: "Montserrat", sans-serif;
}

.font-s2{
    font-size: 0.8rem;
}

.font-s1{
    font-size: 0.6rem;
}

.btn{
    border: 1px solid none;
    background-color: #F7972E;
    border-radius: 30px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.bg-white{
    background-color: #F6F5F3;
}

.bg-violet{
    background-color: #7C69A4;
}

.d-none{
    display: none;
}

.text-a-center{
    text-align: center;
}

.width-100{
    width: 100%;
}

.max-h-50{
    height: 10%;
}

.d-block{
    display: block;
}

.margneg{
    margin-left: -7rem;
}

/* #endregion utilities */

/* #region display flex */
.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-evenly{
    justify-content: space-evenly;
}

.space-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.flex-d-col{
    flex-direction: column;
    display: flex;
}

.gap-1{
    gap: 1.5rem;
}
/* #endregion display flex */

/* #region Spacing */

.py-3{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pb-1{
    padding-bottom: 0.5rem;
}

.pb-2{
    padding-bottom: 1rem;
}

.pl-1{
    padding-left: 0.5rem;
}

.line-h-1{
    line-height: 2rem;
}

/* #endregion Spacing */

/* #region header */
header{
    height: 80px;

    h1{
        font-family: "Nerko One", cursive;
        color: #FF9614;
        text-align: center;
        font-weight: 100;
        font-size: 50px;
    }
}

.fa-star{
    color: #F7972E;
}

.list-unstylied{
        list-style: none;
        line-height: 20px;
    
}

/* #endregion header */

/* #region main */
.card{
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 1px #c0bfbe;
    width: 100%;
}

.fa-facebook{
    color: #1A77F3;
}

.fa-twitter{
    color: #009EFF;
}

.fa-instagram{
    color: #DE79B5;
}

.fa-spotify, .fa-youtube{
    color: #E6222E;
}

.btn-social{
    border: 1px solid white;
    background-color: white;
    padding:10px 15px;
    border-radius: 20px;
}

.img{
    max-width: 80%;
}

.border-top{
    border-top: 1px solid #F7A64F;
}

.color-violet{
    color: #4E3969;
}

.color-grey{
    color: #787879;
}
/* #endregion main */

/* #region footer */
footer{
    color: white;
    a{
        color: white;
    }
}

/* #endregion footer */

/* #region breakpoint media query min-width768px */

@media screen and (min-width: 768px){

    .col-sm-12{
        width: 100%;
    }
    
    .col-sm-10{
        width: calc(100%/12*10);
    }
    
    .col-sm-8{
        width: calc(100%/12*8);
    }
    
    .col-sm-6{
        width: 50%;
    }
    
    .col-sm-4{
        width: calc(100%/12*4);
    }
    
    .col-sm-2{
        width: calc(100%/12*2);
    }

    .d-inline-block-sm{
        display: inline-block;
    }

    .d-block-sm{
        display: block;
    }

    header{
        height: 50px;
        h1{
            font-size: 30px;
            text-align: start;
            margin-left: 10px;
        }
    }
    main{
        ul{
            padding-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            
        }
        li{
            padding-right: 80px;
            padding-bottom: 2rem;
        }

        .btn-social-sm{
            border: 1px solid white;
            background-color: white;
            padding: 10px 50px;
            border-radius: 20px;
        }

    }

    .float-left-sm{
        float: left;
    }

    .pr-1-sm{
        padding-right: 1rem;
    }

    .flex-d-col-sm{
        flex-direction: column;
        display: flex;
    }
}



/* #endregion breakpoint media query min-width768px */

/* #region breakpoint media query min-width992px */
@media screen and (min-width: 992px){

    .col-md-12{
        width: 100%;
    }
    
    .col-md-10{
        width: calc(100%/12*10);
    }
    
    .col-md-8{
        width: calc(100%/12*8);
    }
    
    .col-md-6{
        width: 50%;
    }
    
    .col-md-4{
        width: calc(100%/12*4);
    }
    
    .col-md-2{
        width: calc(100%/12*2);
    }

    .d-inline-block-md{
        display: inline-block;
    }

    .d-block-md{
        display: block;
    }

    header{
        height: 50px;
        h1{
            font-size: 30px;
            text-align: start;
            margin-left: 10px;
        }
    }
    
    .float-left-md{
        float: left;
    }

    .pr-1-md{
        padding-right: 1rem;
    }

    .flex-d-col-md{
        flex-direction: column;
        display: flex;
    }
}
/* #endregion breakpoint media query min-width992px */